html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  
}

.animales{
	list-style-type: lower-latin;
	color:orange;
	padding-left: 1rem;
}

.clasificacion{
	color: red;
	padding-left: 1rem;	
}

.grupos{
	list-style-type:lower-roman;
	color:rgb(45, 113, 156);
	padding-left: 1rem;
}
