@charset "UTF-8";

    table{
        border:.10px solid lightgreen;
        width: 80%;
    }

    th{
        border:.10px solid rgb(9, 252, 9);
        text-align: left;
        color:azure;
        font-size: medium;
        }
   td{
      
    border:.10px solid rgb(9, 252, 9);
        text-align: left;
        color:rgb(85, 164, 238);
        size: 10px;
        }
  body{
    <img src="aguila.jpg" style = "width: 100px;">
    <img src="trucha.jpg" style = "width: 100px;">
    <img src="tortuga.jpg" style = "width: 100px;">
    <img src="perro.jpg" style = "width: 100px;">
    <img src="escarabajo.jpg" style = "width: 100px;">
    <img src="rana.jpg" style = "width: 100px;">

    <img src="pinguino.jpg" style = "width: 100px;">
    <img src="mantarraya.jpg" style = "width: 100px;">
    <img src="iguana.jpg" style = "width: 100px;">
    <img src="chango.jpg" style = "width: 100px;">
    <img src="cangrejo.jpg" style = "width: 100px;">
    <img src="salamadra.jpg" style = "width: 100px;">
}
    </style>
