
<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/lista.css"
      rel="stylesheet" type="text/css">
    <title>Listas</title>
  </head>
  <body>
  	
    <ol>
    	<li class="clasificacion">
    	<div >
    	Clasificación
    	</div>
    		<ol>
	    		<li class="animales">
	    			<div>Animales invertebrados</div>
	    			<ul>
	    				<li class="grupos">Esponjas</li>
	    				<li class="grupos">Moluscos</li>
	    				<li class="grupos">Gusanos</li>
	    				<li class="grupos">Artrópodos</li>
	    			</ul>
	    		</li>
    			<li class="animales">
    				<div> vertebrados</div>
    				<ul>
	    				<li class="grupos">Lampreas</li>
	    				<li class="grupos">Peces</li>
	    				<li class="grupos">Anfibios</li>
	    				<li class="grupos">Reptiles</li>
	    				<li class="grupos">Aves</li>
	    				<li class="grupos">Mamíferos</li>
	    			</ul>
    			</li>
    		
    		</ol>
    	</li class="clasificacion">
    	
    	
    </ol>
  </body>
</html>
